.search-table {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  .col-left {
    width: 12%;
  }
  .col-right {
    width: 20%;
  }
}

