<div class="container" id="jtech-container" >
  <h4>My books</h4>
  <button mdbBtn outline="true" color="grey" class="right" size="sm" mdbWavesEffect (click)="addNewBook()">ADD BOOK<fa-icon icon="plus-circle" class="ml-2"></fa-icon></button>

  <br/>
  <br/>
  <book-list *ngIf="myBooks"
             [books]="myBooks"
             [totalNbrBooks]="totalNbrBooks"
             [pageSize]="pageSize"
             (onLoadMoreBooks)="loadBooksForPage($event)"
             (onBookClicked)="goToDetailPage($event)">
  </book-list>

</div>
