<div *ngIf="book" class="container pt-3" id="lib-container">

  <div class="row">
    <table class="detail-table">
      <tr>
        <td class="col-left">
          <div class="left-margin">
            <span *ngIf="book.imageLink"><img class="image-shadow" [src]="readImageLink(book)"/></span>
            <form [formGroup]="detailForm">
              <table class="detail-table-left">
                <tr class="col" *ngFor="let author of book.authors; let first = first">
                  <td *ngIf="first" class="left-col">Auteur:</td><td *ngIf="!first"></td>
                  <td *ngIf="first" class="right-col">{{ author.name }}</td><td *ngIf="!first" class="right-col-next">{{ author.name }}</td>
                </tr>
                <tr class="col" *ngFor="let category of book.categories; let first = first">
                  <td *ngIf="first" class="left-col">Categorie:</td><td *ngIf="!first"></td>
                  <td *ngIf="first" class="right-col">{{ category.name }}</td><td *ngIf="!first" class="right-col-next">{{ category.name }}</td>
                </tr>
                <tr class="col" *ngIf="hasValue(book.publisher)">
                  <td class="left-col">Uitgever:</td>
                  <td class="right-col">{{ book.publisher }}</td>
                </tr>
                <tr class="col" *ngIf="hasValue(book.extension)">
                  <td class="left-col">Extensie:</td>
                  <td class="right-col">{{ book.extension.toUpperCase() }}</td>
                </tr>
                <tr class="col" *ngIf="hasValue(book.isbn) && !editMode">
                  <td class="left-col">ISBN:</td>
                  <td class="right-col">{{ book.isbn }}</td>
                </tr>
                <tr class="col" *ngIf="editMode">
                  <td class="left-col">ISBN:</td>
                  <td class="right-col input-cell">
                    <div class="form">
                      <input mdbInput placeholder="ISBN..." type="text" id="isbn" formControlName="isbn"/>
                    </div>
                  </td>
                </tr>
                <tr class="col">
                  <td class="left-col">Gelezen:</td>
                  <td class="right-col"><input type="checkbox" id="isRead" formControlName="isRead"></td>
                </tr>
              </table>
            </form>
          </div>
        </td>
        <td>
          <div>
            <span class="row book-title mb-3 ml-1">{{book.title}}</span>
            <div class="row detail-text mr-1 ml-1">{{book.description}}</div>
          </div>
        </td>
        <td class="col-right">
          <table class="button-table">
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="openCopyDialog()" id="copyButton" [disabled]="editMode">Kopi&#235;ren<fa-icon icon="copy" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="openMailDialog()" id="mailButton" [disabled]="editMode">Mailen<fa-icon icon="envelope" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="calibre()" id="calibreButton" [disabled]="editMode">Calibre<fa-icon icon="book" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="browse()" id="browseButton" [disabled]="editMode">Browse<fa-icon icon="globe" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><hr></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="edit()" id="editButton" [disabled]="editMode">ISBN wijzigen<fa-icon icon="edit" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="save()" id="saveButton" [disabled]="!editMode">Opslaan<fa-icon icon="save" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="cancel()" id="cancelButton" [disabled]="!editMode">Annuleren<fa-icon icon="times-circle" class="ml-3"></fa-icon></button></td>
            </tr>
            <tr>
              <td><hr></td>
            </tr>
            <tr>
              <td><button class="detail-width outline" mdbBtn mdbWavesEffect type="button" block="true" (click)="back()" id="backButton" [disabled]="editMode">Terug<fa-icon icon="angle-double-left" class="ml-3"></fa-icon></button></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
 </div>


  <jw-modal id="mail-modal">
    <div *ngIf="isMailModalActive">
      <form [formGroup]="detailForm">
        <div class="jw-modal-title">{{ book.title }} mailen naar:</div>
        <div class="md-form">
          <input mdbInput placeholder="Email..." type="email" id="mailTo" formControlName="mailTo" class="form-control">
        </div>
      </form>
      <div class="divider"></div>
      <button class="half-width outline mr-2" mdbBtn mdbWavesEffect (click)="closeMailDialog()">Annuleren<fa-icon icon="times-circle" class="ml-2"></fa-icon></button>
      <button class="half-width outline" mdbBtn mdbWavesEffect (click)="mail()">Mailen<fa-icon icon="check-circle" class="ml-2"></fa-icon></button>
    </div>
  </jw-modal>

  <jw-modal id="copy-modal">
    <div *ngIf="isCopyModalActive">
      <form [formGroup]="detailForm">
        <div class="jw-modal-title">{{ book.title }} kopi&#235;ren naar:</div>
        <div class="md-form">
          <input mdbInput placeholder="Doelmap..." type="copy" id="copyTo" formControlName="copyTo" class="form-control">
        </div>
      </form>
      <div class="divider"></div>
      <button class="half-width outline mr-2" mdbBtn mdbWavesEffect (click)="closeCopyDialog()">Annuleren<fa-icon icon="times-circle" class="ml-2"></fa-icon></button>
      <button class="half-width outline" mdbBtn mdbWavesEffect (click)="copy()">Kopi&#235;ren<fa-icon icon="check-circle" class="ml-2"></fa-icon></button>
    </div>
  </jw-modal>
</div>
