/* You can add global styles to this file, and also import other style files */
$library-main: #336699;
.library-main { color: $library-main; }

$library-background: #d6eaff;
.library-background { color: $library-background; }

html { height: 100%; }
body {
  background-color: #d6eaff !important;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app {
   height: 100%;
}

.navbar-custom {
  background-color: $library-main;
}



#lib-container {
  width: 95%;
  min-height: 100%;
  text-align: center;
  background-color: white;
}

.image-shadow {
  -webkit-box-shadow: 15px 15px 30px 0 rgba(0,0,0,0.3);
  box-shadow: 15px 15px 30px 0 rgba(0,0,0,0.3);
}

/*==========================================================================*/
/* Overriding material design Bootstrap styles                              */
/*==========================================================================*/

/* No capitals on the buttons which is default */
.btn {
  text-transform: unset !important;
}
.btn[class*=btn-outline-].half-width, .btn[class*=btn-outline-].btn-sm {
  padding: .5rem .5rem;
}


.point {
  cursor: pointer;
}

button.icon {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  background-color: white;
}

.search-group {
  flex-wrap: nowrap;
}

input.search-control::placeholder {
  color: grey;
}

input.search-control {
  border-bottom: 1px solid #575756;
  border-top: 1px solid #575756;
  border-left: none;
  border-right: none;
  width: 100%;

}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

button.half-width {
  width: 45%;
  margin-button: .5rem;
}

button.quarter-width {
  width: 23%;
  margin-button: .5rem;
}

button.detail-width {
  width: 100%
}

button.full-width, button.half-width, button.quarter-width, button.detail-width {
  border-radius: 10px;
  color: white;
  background-color: $library-main;
  font-size: 16px;
  cursor: pointer;
}

button.full-width:hover, button.half-width:hover, button.quarter-width:hover, button.detail-width:hover {
  color: white;
}

.button.outline, button.full-width.outline, button.half-width.outline, button.quarter-width.outline, button.detail-width.outline {
  border: 2px solid $library-main;;
  background-color: white;
  color: $library-main;
}

.button.outline:hover, button.full-width.outline:hover, button.half-width.outline:hover, button.quarter-width.outline:hover, button.detail-width.outline:hover {
  border: 2px solid $library-main;;
  background-color: $library-main;
  color: white;
}



button.search-rb, button.search-lb {
  border: 1px solid #575756;
  margin: 0;
  width: 30px;
  color: $library-main;
  background-color: transparent;
}

// top-l top-r bot-r bot-l
button.search-rb {
  border-radius: 0 50px 50px 0;
  border-left: none;
}
button.search-lb {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.scrolling-wrapper {
  overflow-x: scroll;
  //overflow-y: hidden;
  white-space: nowrap;
  //height: 100vh;
}


